@tailwind base;
@tailwind components;
@tailwind utilities;
.MainContainerBg{
    @layer {
        background: radial-gradient(89.69% 102.24% at 100% 100.11%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(89.7% 115.09% at 5.43% 2.75%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)), #7a4f1c;
        background-blend-mode: overlay, overlay, normal;
    
    }
}
.line-clamp-2 {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .task-types{
  @apply text-white bg-gray-700 px-3 active:bg-gray-900 cursor-pointer py-1 rounded-xl  font-thin
  }